.hidden{
    display: none;
}
#clasificacion{
    background: #2b7bd0;
    color: white;
}
#addDonante{
    background: #2b7bd0;
    color: white;
}
#imagen{
    background: #2b7bd0;
    color: white;
}
